*, *::before, *::after {
    margin: 0;
}

:root {
    --default-cell-size: 100px
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 20px;
}

.cell {
    width: var(--default-cell-size);
    height: var(--default-cell-size);
    margin: 0;
    border: 2px solid black;
    cursor: pointer;
}

.cell1, .cell2, .cell3 {
    border-top: none;
} 
.cell:nth-child(3n +1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell7, .cell8, .cell9 {
    border-bottom: none;
}

.cell.x, .cell.circle {
    cursor: not-allowed;
}

.winningMessage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.winningMessage .message {
    font-size: 5rem;
    color: white;
    font-weight: bold;
}
.winningMessage button {
    padding: 5px;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}
.winningMessage button:hover {
    background-color: black;
    border-color: white;
    color: white;
}
