*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --default-cell-size: 100px;
    --mark-size: calc(var(--default-cell-size) * 0.9);
    --hover-color: rgb(163, 163, 163);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.players > * {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}
.players input {
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(30, 92, 72);
    font-style: oblique;
    text-transform: capitalize;
}
.player2 {
    margin-left: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 20px;
}

.cell {
    width: var(--default-cell-size);
    height: var(--default-cell-size);
    margin: 0;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell1, .cell2, .cell3 {
    border-top: none;
} 
.cell:nth-child(3n +1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell7, .cell8, .cell9 {
    border-bottom: none;
}

.cell.x, .cell.circle {
    cursor: not-allowed;
}

.winningMessage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.show {
    display: flex;
}

.winningMessage .message {
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 8px greenyellow;
}
.winningMessage button {
    padding: 5px;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}
.winningMessage button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

/* setting the o's and the x's */

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.cell.x):not(.cell.circle):hover::before, 
.board.x .cell:not(.cell.x):not(.cell.circle):hover::after {
    content: '';
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.cell.x):not(.cell.circle):hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.cell.x):not(.cell.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.cell.x):not(.cell.circle):hover::before,
.board.circle .cell:not(.cell.x):not(.cell.circle):hover::after {
    content: '';
    border-radius: 50%;
    position: absolute;
}
.cell.circle::before,
.board.circle .cell:not(.cell.x):not(.cell.circle):hover::before {
    height: var(--mark-size);
    width: var(--mark-size);
    background-color: black;
}
.cell.circle::after,
.board.circle .cell:not(.cell.x):not(.cell.circle):hover::after {
    height: calc(var(--mark-size) * 0.7);
    width: calc(var(--mark-size) * 0.7);
    background-color: white;
}

.board.x .cell:not(.cell.x):not(.cell.circle):hover::before,
.board.x .cell:not(.cell.x):not(.cell.circle):hover::after {
    background-color: var(--hover-color);
}

.board.circle .cell:not(.cell.x):not(.cell.circle):hover::before {
    background-color: var(--hover-color);
}
